<div class="container mb-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center">Registro</h5>
      <form (ngSubmit)="registrarUsuario(email.value, nombre.value, apellido.value, clave.value, institucion, grado, paralelo)">
        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input type="email" class="form-control" id="email" placeholder="correo@example.com" required #email>
        </div>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre" required #nombre>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control" id="apellido" placeholder="Apellido" required #apellido>
        </div>
        <div class="form-group">
          <label for="clave">Contraseña</label>
          <input type="password" class="form-control" id="clave" placeholder="Contraseña" required #clave>
        </div>
        
        <!-- Botones para rol adicional -->
        <div class="text-center mt-4">
          <button type="button" class="btn btn-primary" (click)="toggleProfesor()">Soy Profesor</button>
          <button type="button" class="btn btn-primary mx-2" (click)="toggleEstudiante()">Soy Estudiante</button>
        </div>
        
        <!-- Campos adicionales para profesor o estudiante -->
        <div *ngIf="esProfesor || esEstudiante" class="form-group mt-4">
          <label for="institucion">Institución Educativa</label>
          <input type="text" class="form-control" id="institucion" placeholder="Institución Educativa" [(ngModel)]="institucion">
        </div>
        <div *ngIf="esEstudiante" class="form-group">
          <label for="nivel">Nivel Educativo</label>
          <select class="form-control" id="nivel" [(ngModel)]="nivel" (change)="onChangeNivel()">
            <option value="">Selecciona un nivel</option>
            <option value="educacionBasica">Educación Básica</option>
            <option value="bachillerato">Bachillerato</option>
          </select>
        </div>
        <div *ngIf="esEstudiante && (nivel === 'educacionBasica' || nivel === 'bachillerato')" class="form-group">
          <label for="grado">Grado</label>
          <select class="form-control" id="grado" [(ngModel)]="grado">
            <option *ngFor="let grade of getGrades()" [value]="grade">{{ grade }}</option>
          </select>
        </div>
        <div *ngIf="esEstudiante" class="form-group">
          <label for="paralelo">Paralelo</label>
          <select class="form-control" id="paralelo" [(ngModel)]="paralelo">
            <option *ngFor="let section of sections" [value]="section">{{ section }}</option>
          </select>
        </div>
        
        <!-- Mostrar el mensaje de error -->
        <div *ngIf="errorMessage" class="alert alert-danger mt-4">{{ errorMessage }}</div>
        <!-- Mostrar el mensaje de éxito -->
        <div *ngIf="registroExitoso" class="alert alert-success mt-4">¡Registro exitoso! Serás redirigido al inicio de sesión.</div>
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary btn-success">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>