<footer class="bg-primary text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h5>Redes Sociales</h5>
          <ul class="list-unstyled">
            <li><a href="#"><i class="fa fa-facebook me-2"></i>Facebook</a></li>
            <li><a href="#"><i class="fa fa-twitter me-2"></i>Twitter</a></li>
            <li><a href="#"><i class="fa fa-instagram me-2"></i>Instagram</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h5>Enlaces Útiles</h5>
          <ul class="list-unstyled">
            <li><a href="#">Términos y Condiciones</a></li>
            <li><a href="#">Política de Privacidad</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h5>Contacto</h5>
          <p>Dirección: 123 Calle Principal, Ciudad</p>
          <p>Teléfono: +123456789</p>
          <p>Email: info@example.com</p>
        </div>
      </div>
      <hr class="my-4">
      <p class="text-center">&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
    </div>
  </footer>