.container {
  background-image: url('src/assets/images/terminos1.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 20px;
  border-radius: 10px;
  color: #fff;  /* White text color for contrast against the background image */
}

/* Overlay effect */
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  border-radius: 10px;
}

/* Content styles */
h1, h2, p, a {
  z-index: 2;
  position: relative;
}

h1 {
  text-align: center;
  color: #ffffff;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h2 {
  color: #ffffff;
  border-left: 5px solid #3498db;
  padding-left: 10px;
  margin-top: 20px;
}

p {
  margin: 10px 0;
  text-align: justify;
  color: #ffffff;
}

.clause {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}