<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let test of testsPersonalidad">
      <div class="card mb-4 shadow-sm" (click)="vertestPersonalidad(test.id)">
        <div class="card-body">
          <h5 class="card-title">{{ test.nombreTest }}</h5>
          <div class="card-image" [ngStyle]="{'background-image': 'url(' + test.portada + ')'}"></div>
          <div class="card-body">
            <p class="card-text">{{ test.categoria }}</p>
            <div class="card-title mt-4 completado">
              <p *ngIf="esTestCompletado(test.id)" style="color: white">Completado</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>